html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ddd !important;
    width: 100%;
    height: 100%;
    color: #333;
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
    color: #ccc !important;
    transition: color .3s;
}
a:hover {
    text-decoration: none !important;
    color: #888!important;
}
.contents {
    width: 100vw;
    position: absolute;
    top: 50px;
}
.cover {
    width: 100vw;
    position: absolute;
    height: 35vh;
    z-index: -1;
}
.cover-pic {
    position: absolute;
    object-fit: cover;
    object-position: center;
    max-height: 35vh;
    width: 100vw;
}
.edit-icon {
    position: absolute; right: 10px; top: 20px; 
    width: 30px; height: 30px;
}

.display-profile-pic {
    object-fit: cover;
    object-position: center;
    width: 250px;
    height: 250px;
    border: 10px solid #ddd;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%);
}
.name{
    color: #333;
    text-align: center;
    line-height: 30px;
    position: relative;
    top: 350px;
    left: 50%;
    transform: translate(-50%);
}
.display-name {
    font-weight: bold;
    font-size: 40px;
}
.regno {
    font-weight: lighter;
    font-size: 30px;
    margin: 5px;
}
.batchName {
    color: #555 !important;
    font-size: 28px;
}

.about-block-gap {
    margin-top: 580px;
}
.box {
    width: 100%;
    background: #eee;
    border: 1px solid #aaa;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 19px 2px rgba(170,170,170,1);
    -moz-box-shadow: 0px 0px 19px 2px rgba(170,170,170,1);
    box-shadow: 0px 0px 19px 2px rgba(170,170,170,1);
    margin-bottom: 50px;
    position: relative;
}
.box-header {
    font-size: 35px;
}
.box-container {
    margin-top: 20px;
    margin-bottom: 15px;
}
.rowTitle {
    width: 20vw;
    font-weight: bold;
}
.profileContainer {
    position: absolute;
    margin-left: 30px;
    top: 470px;
    transform: translate(-70%);
    left: 50%;
}
.profileLink {
    font-size: 40px;
    margin-left: 10px;
    color: #333 !important;
}
.githubLink:hover {
    color: #000 !important;
}
.twitterLink:hover {
    color: #38A1F3 !important;
}
.linkedinLink:hover {
    color: #0077B5 !important;
}
.fbLink:hover {
    color: #3b5998 !important;
}
.single-endor {
    margin-left: 20px;
    margin-bottom: 20px;
}
.endor-title {
    font-weight: bold;
    font-size: 20px;
}
.endor-data {
    margin-left: 30px;
    margin-top: 5px;
}

.clearfix {
    display: block;
    width: 100%;
    height: 50px;
}


.pop-window {
    width: 100%; height: 100%;
    display: none; top: 0; left: 0;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    justify-content: center;
    align-items: center;
}

.pop-window-card {
    width: 400px;
    height: 400px;
    padding: 10px;
    background-color: white;    
    border-radius: 15px;
}

.pop-window-card button {
    background-color: red;
    color: white;
    cursor: pointer;
    width: 150px;
    border-radius: 10px;
    display: block;
    margin-left: auto; margin-right: auto;
    margin-top: 4px;
}
.django-form select {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;
}
.django-form textarea {
    width: 380px;
    height: 260px;
    padding: 2px; 
    border-radius: 5px;
    border: 1px solid black; 
}

.django-form button {
    background-color: #1EAA3E;
    display: block;
    margin-left: auto; margin-right: auto;
    color: white; cursor: pointer;
    width: 150px;
    border-radius: 10px;
}

.row-edit {
    width: 15px; height: 15px;
    margin: 2px; 
}
/*FOR RESPONSIVE NAVBAR*/
@media only screen and (min-width: 992px) {
    .alignEnd {
        position: absolute !important;
        right: 10px;
    }
    .nav-item{
        margin-left: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .notImportant {
        display: none;
    }
}
