html{
    scroll-behavior: smooth !important;
}
body{
    font-family: sans-serif !important;
}
a {
    cursor: pointer;
    transition: .3s !important;
    text-decoration: none;
}
a:hover{
    color: orange !important;
    text-decoration: none;
}
