.body {
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none !important;
}
.container {
    margin-top: 100px;
}
.headingText {
    text-align: center;
}
.post-section {
    margin-top: 80px;
    width: 75%;
    text-align: justify;
    display: inline-block;
    float: left;
}
.post-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
a .post-title{
    color: #555;
    transition: ease .3s;
    text-decoration: none;
}
a .post-title:hover {
    color: #333;
    text-decoration: none;
}
.post-title {
    margin-bottom: 1px;
}
.post-contents {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 90px;
}

.tab-section {
    width: 20%;
    display: inline-block;
    position: relative;
    margin-top: 80px;
    margin-left: 4%;
    transition: .3s;
}
.tab-section form {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}
.searchInput {
    border-radius: 10px 0px 0px 10px;
    width: 75%;
    padding: 5px;
    color: #333;
}
.searchButton {
    margin-left: -4px;
    border-radius: 0px 10px 10px 0px;
    width: 24.5%;
    padding: 5px;
    color: #333;
    background: #eee;
    transition: .3s;
    cursor: pointer;
}
.searchButton:hover {
    background: #ddd;
}
.searchInput {
    outline: none;
}
.post-thumbnail {
    height: 195px;
    width: 195px;
    float: left;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #aaa;
    border-radius: 10px;
}

.create-post-icon {
    position: fixed; width: 40px; height: 40px;
    bottom: 50px; right: 20px; cursor: pointer; z-index: 5;
}


@media only screen and (min-width: 992px) {
    .alignEnd {
        position: absolute !important;
        right: 10px;
    }
    .nav-item{
        margin-left: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .post-section {
        width: 100%;
        text-align: justify;
        display: block;
    }
    .tab-section {
        width: 100%;
        display: none;
        position: relative;
        margin-top: 20px;
    }

    .notImportant {
        display: none;
    }
    .loginForm {
        width: 70%;
    }

}
