.content {
	margin: 0; width: 100%;
}
.log_form {
	margin: auto;
}	

.edittext {
	display: block;
	margin: auto;
	width: 300px; height: 40px;
	border-radius: 50px;
	padding: 5px; font-size: 20px;
	line-height: 35px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.log_form button {
	display: block;
	margin: auto; width: 300px;
	border-radius: 50px; height: 45px;
	margin-top: 40px; font-size: 25px;
	padding: 5px; line-height: 35px;
	color: black; background-color: white;
}
.log_form button:hover {
	cursor: pointer;
	background-color: darkgray; color: white;
}

.checkbox {
	margin: auto; width: 300px;
	font-size: 20px;
}