body {
	font-family: arial !important;
	scroll-behavior: smooth !important;
}

.bold {
	font-family: LGSB !important;
}

.green {
	font-family: LGSB !important;
	color: lightgreen;
}

.red {
	font-family: LGSI !important;
	color: tomato;
}

a {
	cursor: pointer;
	transition: .3s !important;
	text-decoration: none;
}

a:hover {
	color: orange !important;
	text-decoration: none;
}

header {
	height: 100vh;
	background-image: url(../images/iictVintage.jpeg);
	background-size: cover;
	background-attachment: fixed;
}

.headingText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bold;
	color: aliceblue;
}

.aboutPic {
	width: inherit;
	/*border: 5px solid #ddd;*/
	border-radius: 5px;
	box-shadow: 5px 5px #222;
}

.about {
	min-height: 100vh;
	background-image: url(../images/iict.jpeg);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.aboutHeading {
	color: aliceblue;
}

.aboutPara {
	background: rgba(45, 45, 45, .99);
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

.notImportant {
	display: block;
}

.login {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 60px;
	display: none;
}

.loginForm {
	background-color: #fefefe;
	margin: 5px auto;
	border: 1px solid #888;
	border-radius: 5px;
	width: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
}

.userType {
	width: 100%;

}

.hide {
	display: none;
}

.studentBtn,
.teacherBtn {
	height: 50px;
	font-family: LGSB !important;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	background: #bbb;
	cursor: pointer;
}

.studentBtn {
	margin-left: 3.5%;
}

.typeBtns {
	background: #bbb;
}

.activeType {
	background: #fefefe;
	border-top: 3px solid #aaa;
	border-radius: 10px 10px 0px 0px;
}

.closeLogin {
	position: fixed;
	right: -2%;
	color: white;
	top: -4%;
	z-index: 3;
	background: tomato;
	color: #000;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .3s;
	font-weight: bold;
}

.fullForm {
	padding: 20px 50px;
}

.closeLogin:hover {
	background: red;
	color: black;
	transform: rotate(360deg);
}

footer {
	text-align: center;
	background: rgba(45, 45, 45, 1);
	color: aliceblue;
	font-size: 14px;
	min-height: 250px;
	text-decoration: none !important;
}

footer a {
	color: lightblue;
}

footer a:hover {
	color: lightgreen;
	text-decoration: none;
}

.footerNav {
	list-style: none;
	text-align: left;
	margin-left: 25px;
}

.footerNavHeader {
	font-size: 17px;
	margin-left: -70px;
}

.footerAll {
	padding-top: 50px;
}

.socialIcons {
	font-size: 35px;
}

.socialIcon {
	transition: .3s;

}

.socialIcon.fb:hover {
	color: rgb(59, 89, 152) !important;
}

.socialIcon.gp:hover {
	color: #dd4b39 !important;
}

.socialIcon.tw:hover {
	color: #1da1f2 !important;
}

.socialIcon.git:hover {
	color: #000 !important;
}

@media only screen and (min-width: 992px) {
	.alignEnd {
		position: absolute !important;
		right: 10px;
	}

	.nav-item {
		margin-left: 8px;
	}
}

@media only screen and (max-width: 768px) {
	.notImportant {
		display: none;
	}

	.loginForm {
		width: 70%;
	}
}

@font-face {
	font-family: LGSB;
	src: url(../font/lcb.ttf);
}

@font-face {
	font-family: LGS;
	/* 	src: url(font/lc.ttf); */
	src: url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
}

@font-face {
	font-family: LGSI;
	src: url(../font/lci.ttf);
}