{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block link %}
        <!-- This is for specify css framework -->
    {% endblock %}
    <title>
        Department of Software Engineering | SUST |
        {% block title %}

        {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="{% static './images/icon.png' %}" sizes="32x32">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="{% static './css/debug.css' %}"> -->
    <script src="{% static './js/main.js' %}"></script>
</head>

<body>
{% block content %}

{% endblock %}
{% block script %}
    <!-- This section is for css framework related javascript -->
{% endblock %}

</body>

</html>