{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Batchlist</title>
	<link rel="stylesheet" type="text/css" href="{% static 'batchlist/style.css' %} ">
{% endblock %}

{% block extra_body %}
	<div class="contents">
		<ul class="list-contents">
			{% for i in queryset %}
			<li class="list-contents">
				<div class="container">
					<div class="batch-year li-view">
						<a href="/batch/{{ i.year }}">{{ i.year }}</a>
					</div>
					<div class="batch-name li-view">
						<a href="/batch/{{ i.year }}">{{ i.name }}</a>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}