{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Batchlist</title>
	<style type="text/css">
		.left-block {
			width: 400px; 
			height: 100%; padding-top: 80px;
			position: fixed;
		}
		.right-block {
			left: 410px; position: absolute;
			top: 0px; padding-top: 80px;
			right: 0px; height: 100%;
			display: flex; justify-content: center;
			background-color: #287785;
		}
		.right-block a {
			color: white;
		}
		.search-block {
			background-color: #287785;
			padding: 5px;
			border-radius: 5px;
			box-shadow: 0px 2px 2px 0px #111;
			text-align: center;
		}
		.list-block {
			font-size: 30px; font-weight: bold;
		}
		label {
			color: white;
			font-weight: bold;
		}
		@media screen and (max-width: 800px){
			.left-block {
				position: relative; display: flex;
				justify-content: center; width: 100%;
			}
			.list-block {
				margin-top: -10px;
			}
			.search-block {
				width: 400px;
			}
			.right-block {
				display: block; position: relative;
				display: flex; margin-top: 5px;
				justify-content: center; left: 0px;
			}
			body {
				background-color: #287785;
			}
		}
	</style>
{% endblock %}

{% block extra_body %}
	<div class="left-block">
		<div class="search-block">
			<form method="POST" action="/search/">
				{% csrf_token %}
				<div class="custom-control custom-checkbox">
					{{ form.current }}
					<label class="custom-control-label" for="id_current">
						Currently Work
					</label>
				</div>
				{{ form.country }}
				{{ form.company }}
				<button class="btn btn-dark btn-block">Search</button>
			</form>
		</div>
	</div>

	<div class="right-block">
		<div class="list-block">
			{% for i in queryset %}
				<a href="/batch/{{ i.year }}">{{ i }}</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}