{% extends 'base.html' %}
{% load static %}
{% load tz %}


{% block extra_head %}
		<title>Feeds</title>
		<link rel="stylesheet" type="text/css" href="{% static 'post/style.css'%} ">
{% endblock %}

{% block extra_body %}
	
	<div class="header-gap">	
	</div>
	<center>
	{% for post in posts %}
	<div class="post-container">
			<h3 class="post-title">{{ post.title }}</h3>
			{% if post.has_media %}
				<div class="post-image-block">
					<img src="/{{ post.imgsrc }}" class="post-image">
				</div>
			{% endif %}
			<p class="post-body">
				{{ post.body }}
			</p>
			<a href="/{{ post.user.userid }}" class="post-user">{{ post.user.name }}</a>
			<p class="post-date">{{ post.time_date | date }}</p>
			{% if request.user.is_authenticated %}
				<a href="/feeds/delete/{{ post.pk }}"><img src="{% static 'post/delete.png' %}" class="edit-icon"></a>
			{% endif %}
		</div>
	{% endfor %}
	</center>

	{% if request.user.is_authenticated %}
		<div class="new-post-create" onclick="show()">Create Post</div>

		<div class="pop-window">
			<div class="pop-window-container">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="text" name="title" placeholder="Title" required>
					<textarea placeholder="Body" name="body" required></textarea>
					<input type="file" name="image" accept=".png , .jpg , .jpeg">
					<button>Create Post</button>
				</form>
			</div>

			<div class="close-icon" onclick="hide()">
				+
			</div>
		</div>



		<!-- TODO: post delete confirmations -->
	{% endif %}


	<script type="text/javascript" src="{% static 'post/script.js' %}"></script>

{% endblock %}