{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Forget Password</title>
    <!-- Linking Bootstrap CSS-->
{% endblock %}


{% block extra_body %}

<center>
        <form method="POST" id="user-id-form">
        {% csrf_token %}
            <input type="text" name="userid">
            <button>Confirm User</button>
        </form>

        <form method="POST" id="user-token-form">
        {% csrf_token %}
            <input type="" name="">
        </form>
</center>
{% endblock %}