{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css'%}">
  <title>{{ user.name }} | SWE</title>
{% endblock %}

{% block extra_body %}
  <div class="card-block">
    <div class="profile-image-block">
      <img src="/{{ profile.imgsrc }}" class="profile-image">
    </div>
    <div class="user-name-block">
      {{ user.name }}
    </div>
      
    <div class="user-summary-block">
      {% if user.is_student %}
        {{ user.userid }}
      {% else  %}
          {{ user.position }}
      {% endif %}

      {% if profile.alumni %}
        | Alumni
      {% endif %}
    </div>

    <div class="user-summary-block">
      Gender : {{ profile.gender }}
      {% if user.is_student %}
        | Blood: {{ profile.bloodgroup}} <br>
        <a href="/batch/{{ profile.batch.year }}">{{ profile.batch }}</a>
      {% endif %}
    </div>
    {% if is_self %}
      <a href="/{{ user.userid }}/edit" class="card-block-edit">
         <img src="{% static 'profile/edit.png' %}" class="card-block-edit">
      </a>
    {% endif %}

    <div class="integrated-profile-block">
      <a href="https://github.com/{{ profile.githubid}}">
        <img src="{% static 'profile/github.png' %}"></a>
      <a href="https://linkedin.com/in/{{ profile.linkedinid }}">
        <img src="{% static 'profile/linkedin.png' %}"></a>
      <a href="https://twitter.com/{{ profile.twitterid }}">
        <img src="{% static 'profile/twitter.png' %}"></a>
      <a href="https://facebook.com/{{ profile.facebookid }}">
        <img src="{% static 'profile/facebook.png' %}"></a>
    </div>
  </div>

  {% if is_auth %}
    <div class="card-block">
      <div class="card-label">About</div>
      <div class="card-content-label"> Email </div>
      <div class="card-content-data">{{ user.email }}</div>
      <div class="card-content-label"> Phone </div>
      <div class="card-content-data"> {{ profile.phone }} </div>
      <div class="card-content-label"> Address </div>
      <div class="card-content-data"> Brahmanbaria </div>
    </div>
  {% endif %}

  <div class="card-block">
    <div class="card-label">Endrosements</div>
    <div class="card-content-label"> Programming Language </div>
    <div class="card-content-data">C, Java, Python</div>
    <div class="card-content-label"> Skill and Experience </div>
    <div class="card-content-data"> Android, Django </div>
    <div class="card-content-label"> Interested </div>
    <div class="card-content-data"> AI, Blockchain </div>
  </div>

  <div class="card-block">
    <div class="card-label"> Working Experience</div>
    <div class="card-content-label"> manager </div>
    <div class="card-content-data">Toto company</div>
    <div class="card-content-label"> CEO </div>
    <div class="card-content-data"> My Computer </div>
  </div>


  <!-- About edit pop up window -->
  <div class="footer">
  </div>


  <script type="text/javascript" src="{% static 'profile/main.js'%}"></script>
{% endblock %}