{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <title>{{ user.name }} | SWE</title>
{% endblock %}

{% block extra_body %}

  <div class="contents wide-display">
    <!-- Cover Pic -->
    <div class="cover">
      <img src="/{{ profile.cover }}" alt="Profile Pic" class="cover-pic">
    </div>
    
    <!-- Display Profile Pic -->
    <div class="display-profile">
        <img src="/{{ profile.imgsrc }}" alt="Profile Pic" class="display-profile-pic">
    </div>

    <!-- Name and Reg no -->
    <div class="name">
        <p class="display-name">{{ user.name }}</p>
        <p class="regno">
          {{ user.userid }}
          {% if profile.alumni %}
            | Alumni
          {% endif %}
        </p>
    <a href="/batch/{{ profile.batch.year}}" class="batchName">{{ profile.batch }}</a>
  </div>

  <div class="profileContainer">
    <a href="https://github.com/{{ profile.githubid }}" class="profileLink githubLink">
      <i class="fab fa-github-square"></i>
    </a>
    <a href="https://twitter.com/{{ profile.twitterid }}" class="profileLink twitterLink">
      <i class="fab fa-twitter-square"></i>
    </a>
    <a href="https://linkedin.com/in/{{ profile.linkedinid }}" class="profileLink linkedinLink">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://facebook.com/{{ profile.facebookid }}" class="profileLink fbLink">
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>

  <div class="container about-block-gap">

    <!--  Authentication needed :::::::::::::::::::::::::
      :::::::::::::::::::::User about:::::::::::::::::::
       :::::::::::::::::::::::::::::::::::::::::::::::::-->

    {% if is_auth %}
      <div class="box">
        <div class="box-header">
          About
        </div>
        <div>
         <a href="edit">
          <img src="{% static 'profile/img/edit.png' %}" class="edit-icon">
        </a>
        </div>
        <div class="box-container">
          <table>
            <tr>
              <td class="rowTitle">Email</td>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <td class="rowTitle">Phone</td>
              <td>{{ profile.phone }}</td>
            </tr>
            <tr>
              <td class="rowTitle">Address</td>
              <td>{{ profile.address }}</td>
            </tr>
            <tr>
              <td class="rowTitle">Blood Group</td>
              <td>{{ profile.bloodgroup }}</td>
            </tr>

          </table>
        </div>
      </div>
    {% endif %}


    <div class="box">
      <div class="box-header">
        Endorsements
      </div>
      {% if is_self %}
        <div>
           <a href="javascript:(void)" onclick="showEndroseCreateDialog()">
            <img src="{% static 'profile/img/add.png' %}" class="edit-icon">
          </a>
        </div>
      {% endif %}
      <div class="box-container">
        <table>
          {% for item in endrosements %}
            <tr>
              {% if is_self %}
                <td>
                  <a href="endrosement/edit/{{ item.pk }}"><img  class="row-edit" src="{% static 'profile/img/edit.png' %}"></a>
                </td>
              {% endif %}
              <td class="rowTitle">{{ item.key }}</td>
              <td>{{ item.value }}</td>
          </tr>

          {% endfor %}
        </table>
      </div>
    </div>


    <div class="box">
        <div class="box-header">
          Working
        </div>
        {% if is_self %}
          <div>
           <a href="working/add">
            <img src="{% static 'profile/img/add.png' %}" class="edit-icon">
          </a>
          </div>
        {% endif %}
        <div class="box-container">
          <table>
            {% for item in works %}
              <tr>
                {% if is_self %}
                  <td>
                    <a href="working/edit/{{ item.pk }}"><img  class="row-edit" src="{% static 'profile/img/edit.png' %}"></a>
                  </td>
                {% endif %}
                <td class="rowTitle">{{ item.position }} : {{ item.company }}</td>
                <td>
                  {{ item.from_date }}
                  {% if item.current %}
                    - current
                  {% else %}
                    - {{ item.to_date }}
                  {% endif %}
                  <br>
                  {{ item.comment }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>




  <!-- pop up window -->
  {% if is_self %}
    <div class="pop-window" id="endroseCreateDialog">
      <div class="pop-window-card">
        <form class="django-form" method="POST" action="endrosement/add/">
          {% csrf_token %}
          <!-- find out the form : `swe.forms.EndrosementForm` -->
             {{ endrose_form.key }}
             {{ endrose_form.value }}  
          
          <button type="submit">Add</button>
        </form>
        <button onclick="hideEndrseCreateDialog()">Cancel</button>
      </div>
    </div>
  {% endif %}

  <!-- Linking JSs-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="{% static 'profile/main.js' %}"></script>
{% endblock %}