{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Change Password | SWE</title>

	<style type="text/css">
		.window-block {
			width: 100%; height: 100%; background-color: #151515; display: flex;
			position: absolute; justify-content: center; align-items: center;
		}

		.form-block {
			text-align: center; background-color: rgba(255,255,255,0.3);
			width: 350px; height: 250px; border-radius: 5px; padding-top: 15px;
		}

		input {
			font-size: 17px; padding: 5px; border-radius: 5px;
			margin-top: 5px; margin-bottom: 5px;
		}

		button {
			margin-top: 5px; background-color: #fff; color: #000; border-radius: 5px;
			cursor: pointer;
		}

		button:hover {
			background-color: #000; color: #fff;
		}

		strong {
			margin-top: 5px; color: #F83229;
		}
	</style>


{% endblock %}

{% block extra_body %}

	<div class="window-block">
		<div class="form-block">
			<form method="POST">
				{% csrf_token %}

				{{ form.current_password }}
				{{ form.new_password }}
				{{ form.confirm_password }}
				<button>Change Request</button>
			</form>

			{% if error %}
				<strong>{{ message }}</strong>
			{% endif %}
		</div>
	</div>

{% endblock %}