{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Varification</title>

	<style type="text/css">

		.window-block {
			display: flex; position: absolute; top: 0px; height: 100%; width: 100%;
			justify-content: center; align-items: center; background-color: #151515;
			text-align: center;
		}

		.form-block {
			width: 350px; height: 150px; background-color: rgba(255,255,255,0.2);
			text-align: center; border-radius: 5px;
		}

		input {
			font-size: 17px; padding: 5px; margin-top: 20px; margin-bottom: 10px;
			border-radius: 5px;
		}

		button {
			padding: 5px 30px 5px 30px; cursor: pointer; border-radius: 10px;
			background-color: white;
		}
		button:hover {
			background-color: #000; color: #fff;
		}
		strong {
			color: #F83229;
		}
		
	</style>


{% endblock %}

{% block extra_body %}

	<div class="window-block">
		<div class="form-block">
			<form method="POST">
				{% csrf_token %}
				{{ form.token }}
				<button>Verify Yourself</button>
			</form>
			{% if invalid %}
				<strong>Invalid Token</strong>
			{% endif %}
		</div>
	</div>

{% endblock %}