{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>User Token</title>

	<style type="text/css">
		h4 { color: white; margin: 50px 0 20px; }
		#id_token { font: monospace; border-radius: 30px; padding: 5px 10px 5px 10px;
				font-size: 25px; margin-bottom: 20px; text-align: center; display: block; }
		button {border-radius: 30px; font-size: 20px; padding: 5px 30px 5px 30px; background-color: white;
				font-weight: bold;}
		button:hover {cursor: pointer;}
		h3 { color: red; }
	</style>

	<script type="text/javascript">
		function aa(){
			alert('done');
		}
	</script>
{% endblock %}

{% block extra_body %}
	<center>
		<h4>Make sure that you requested for a token to your mail address</h4>
		{% if invalid %}
			<h3>Invalid Token</h3>
		{% endif %}
		<form method="POST" onload="aa()">
			{% csrf_token %}
			{{ form.token }}
			<button type="submit">Varify</button>
		</form>
		</center>

{% endblock %}