{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
	<title>Varification</title>

	<style type="text/css">
		h4 {color: white; font: monospace; margin-top: 50px;}
		#id_userid { text-align: center; font-size: 25px; border-radius: 30px; display: block;
				padding: 5px 10px 5px 10px; margin-bottom: 20px;}
		button {border-radius: 30px; font-size: 20px; padding: 5px 10px 5px 10px; background-color: white;}
		button:hover { cursor: pointer; }
		h3 {color: red;}
	</style>


{% endblock %}

{% block extra_body %}

	<center>
		<h4>A token will be sent to your email address</h4>
		{% if invalid %}
			<h3>Invalid</h3>
		{% endif %}
		<form method="POST">
			{% csrf_token %}
			{{ form.userid }}
			<button type="submit">Token Request</button>
		</form>
	</center>

{% endblock %}