{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Login</title>
    <!-- Linking Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'login/style.css' %}">

{% endblock %}


{% block extra_body %}
    <!-- LOADING PARTICLES FROM particles.js -->

    <div id="particles-js" class="particle-background"></div>
    <script src="{% static 'login/particles.js' %}"></script>
    <script src="{% static 'login/app.js' %}"></script>

    <div class="box">

        <form class="login-form" method="post">
        	{% csrf_token %}
            <input type="text" name="uid" class="regno-input full-width" placeholder="User ID">
            <input type="password" name="password" class="pass-input full-width" placeholder="Password">
            <button type="submit" name="submit" class="login-button full-width">Log In</button>
            <a href="/forget-password" class="forgot-pass">Forget Password?</a>
        </form>

    </div>


    <!-- Linking JSs-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{% static 'login/main.js' %}"></script>

{% endblock %}